/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigasi */
header {
  background-color: #65b7d8;
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container img {
  width: 10%;
  height: 10%;
}

h1 {
  margin: 0;
  display: inline;
}

nav {
  display: inline;
  float: right;
  margin-top: 10px;
}

.menu-toggle {
  width: 40px;
  height: 40px;
  background-image: url("img/soto.jpg");
  background-size: cover;
  cursor: pointer;
  display: none;
}

.navbar {
  list-style: none;
}

.navbar li {
  display: inline;
  margin-left: 20px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* informasi */
.info {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.info p {
  margin: -18px 0px 0px 280px;
}

.dropdown-kategori {
  position: absolute;
  display: none;
  width: fit-content;
  height: fit-content;
  margin: -7px 0px 0px 268.5px;
}

.dropdown-kategori ul li {
  text-align: center;
  margin: 10px;
}

.dropdown-kategori ul li a {
  text-decoration: none;
  color: rgb(0, 144, 77);
}

.dropdown-kategori ul li a:hover {
  color: #0004f7;
}

.dropdown-kategori ul .a::marker {
  color: rgb(10, 10, 10, 0%);
}

.dropdown-kategori ul .b::marker {
  color: rgb(10, 10, 10, 0%);
}

.info:hover + .dropdown-kategori {
  display: block;
}
.dropdown-kategori:hover {
  display: block;
}


/* Hero Section */
.btn {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f1f1f1;
}
.btn-2 {
  font-size: 11px;
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2px;
  transition: background-color 0.3s ease;
  padding-left: 165px;
}

.btn-2:hover {
  background-color: #2e2a2a;
}
/* tentang lamongan section */
#ttg {
  padding: 50px 0;
  text-align: center;
}

.ttg-item {
  display: inline-block;
  margin: 30px;
  text-align: center;
}

.ttg-item img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.ttg-item h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ttg-item p {
  font-size: 16px;
  line-height: 1.5;
}

#ttg-2 {
  padding-top: 30px;
  padding-bottom: 0, 5px;
  background-color: #f1f1f1;
  text-align: center;
}

.ttg-item {
  display: inline-block;
  margin: 30px;
  text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 500px;
  padding-top: 3%;
}

.ttg-item img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.icon {
  width: 30px;
  height: 30px;
  font-size: 15px;
  text-align: justify;
}

.ttg-item h4 {
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 13px;
}

.ttg-item p {
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
}

.deskripsi {
  text-align: justify;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#read-more-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 7px 15px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#read-more-btn:hover {
  background-color: #666;
}

/* Footer */
footer {
  background-color: #6090a3;
  color: #fff;
  text-align: center;
  padding: 20px;
}
