* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigasi */
header {
  background-color: #65b7d8;
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container img {
  width: 10%;
  height: 10%;
}

.container h1 {
  margin: 0;
  display: inline;
}

nav {
  display: inline;
  float: right;
  margin-top: 10px;
}

.menu-toggle {
  width: 40px;
  height: 40px;
  background-image: url("img/soto.jpg");
  background-size: cover;
  cursor: pointer;
  display: none;
}

.navbar {
  list-style: none;
  margin-right: 100px;
}

.navbar li {
  display: inline;
  margin-left: 20px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.info {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.info p {
  margin: -18px 0px 0px 280px;
}

.dropdown-kategori {
  position: absolute;
  display: none;
  width: fit-content;
  height: fit-content;
  margin: -7px 0px 0px 268.5px;
}

.dropdown-kategori ul li {
  text-align: center;
  margin: 10px;
}

.dropdown-kategori ul li a {
  text-decoration: none;
  color: rgb(0, 144, 77);
}

.dropdown-kategori ul li a:hover {
  color: #0004f7;
}

.dropdown-kategori ul .a::marker {
  color: rgb(10, 10, 10, 0%);
}

.dropdown-kategori ul .b::marker {
  color: rgb(10, 10, 10, 0%);
}

.info:hover + .dropdown-kategori {
  display: block;
}
.dropdown-kategori:hover {
  display: block;
}

/* Main */

.main h1 {
  text-align: center;
  margin-top: 100px;
}

/* FInd Us */
.find .item .item_a {
  display: flex;
}
.find .item .item_b {
  display: flex;
  margin-top: 5px;
}
.find .item p {
  margin-left: 10px;
  margin-top: auto;
}

.contact .conten .conten_a {
  display: flex;
}
.contact .conten .conten_b {
  display: flex;
  margin-top: 5px;
}
.contact .conten p {
  margin-left: 10px;
  margin-top: auto;
}

/* Footer */
footer {
  background-color: #6090a3;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-top: 0.5px solid;
}
